.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tw-followCard {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  /* margin: 10px auto; */
  justify-content: space-between;
  gap: 15px;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  /* gap: 4px; */
  gap: 18px;
}

.tw-followCard-info {
  color: var(--text-color);
}

.tw-followCard-header div {
  display: flex;
  flex-direction: column;
}

.tw-followCard-avatar {
  /* width: 48px; */
  /* height: 48px; */
  width: 70px;
  height: auto;
  border-radius: 1000px;
}

.tw-followCard-button {
  /* margin-left: 40px; */
  border: 0;
  border-radius: 999px;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--text-color-background);
  transition: .3s ease opacity;
}

.tw-followCard-button.isFollowing {
  background-color: #1D9BF0;
  color: #efefec;
  width: 180px;
}

.tw-followCard-button.isFollowing:hover {
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid rgb(240, 128, 128);
  background: transparent;
  color: rgb(255, 62, 62);
}

.tw-followCard-button:hover {
  opacity: 0.9;
  background-color: rgb(29, 155, 240);
  color: #efefec;
}

.tw-followCard-button.isFollowing:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.isFollowing:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}

.theme {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* THEME */

.theme img {
  width: 35px;
}

.theme:hover {
  background-color: rgba(186, 185, 185, 0.148);
  border-radius: 10px;
}

button.theme.light img {
  color: rgb(255, 255, 72);
}

.theme.dark img {
  color: rgb(53, 103, 210);
}