.footer {
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
  padding: 8px 24px;
  opacity: 0.9;
  backdrop-filter: blur(9px);
  border-radius: 10px
}

.footer span {
  font-size: 1rem;
  color: white;
  opacity: 0.7;
}

.footer h4,
.footer h5 {
  margin: 0;
}